@CHARSET "UTF-8";
div{
    
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 10px;
}
.container{
    display:flex;
}
.fixed{
    width: 60%;
}
.flex-item{
	width: 40%;
    flex-grow: 1;
}